@import "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.336);
}
header {
    margin: 0px;
    padding: 70px 0px 0px 0px;
    background-color: rgb(101, 110, 114);

}

nav {
    background-color: black;
    padding: 3px 0px 3px 2px;
}

nav > a {
    text-align: left;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 0px 10px;
}

main {
    background-color: rgb(209, 208, 208);
    margin: 0px 2vw;
}

.exemplo {
    background-color: #b8b8b8;
    margin-bottom: 0px;
}

.container-video {
      display: flex;
      justify-content: center; /* Centraliza na horizontal */
      align-items: center;     /* Centraliza na vertical */
      min-height: 400px;       /* Faz o contêiner ocupar a altura total da tela */
      background-color: #b8b8b8; /* Cor de fundo opcional */
    }

main > h1 {
    padding-top: 10px;
}
 
main > p {
    padding: 10px;
}

h1 {
    padding-bottom: 40px ;
}

h1, h2 {
    margin: 0px;
    text-align: center;
}
h3 {
    padding: 0px 0px 0px 16px;
}

h4 {
    padding: 0px 0px 0px 10px;
}

p {
    padding: 0px 0px 0px 2px;
    text-indent: 10px;
}